* @wannemuellerit

/.github/ @wannemuellerit
/app/ @wannemuellerit
/config/ @wannemuellerit
/database/ @wannemuellerit
/docker/ @wannemuellerit
/resources/ @wannemuellerit
/routes/ @wannemuellerit
/scripts/ops/ @wannemuellerit
/tests/ @wannemuellerit
